.directory
*.o
*.elf
*.map
*.srec
*.d
*.a
*.hzs
*.bak
*.pro.user
*/crossworks/*/tmp*
*/crossworks/caribou*/*
*/crossworks/flowtrax*/*
*/crossworks/LIS331DLH*/*
/probetrax/probetrax.X/build/C18_18F87K22/
/probetrax/probetrax.X/dist/C18_18F87K22/
/probetrax/probetrax.X/build/XC8_18F87K22/
/probetrax-1.0/probetrax.X/build/C18_18F87K22/
/probetrax-1.0/probetrax.X/dist/C18_18F87K22/
/probetrax-1.0/probetrax.X/build/XC8_18F87K22/
/.project
